@import '../sass/variables';
.orders_content {
    min-height: calc(100vh - 74.78px);
    background-color: #f1f1f1;
    padding: 15px;
    .titl {
        color: $base-color;
        margin-bottom: 5px;
        font-size: 20px;
    }
}