@import '../sass/variables';

.profile_aside {
    display: block;
    width: 20%;
    height: inherit;
    background: $base-color;
    transition: all 0.1s linear;
    @media only screen and (max-width: $sm){
        position: fixed;
        top: 0;
        left: -80%;
        width: 80%;
        height: 100vh;
        z-index: 999999;
        &.active {
            left: 0;
        }
    }
    .aside_head {
        width: 100%;
        padding: 20px;
        img{ 
            display: block;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin: 10px auto;
        }
        h1 {
            display: block;
            text-align: center;
            font-size: 22px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 500;
        }
    }
    .aside_navs {
        margin-top: 20px;
        .navs{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            padding: 20px 0px;
            border-bottom: 1px solid $gray-color;
            color: #fff !important;
            font-size: 20px;
            &:first-of-type {
                border-top: 1px solid $gray-color;
            }
            span {
                width: 30%;
                text-align: center;
            }
            a {
                width: 70%;
                color: #fff !important;
                text-decoration: none;
                padding-left: 20px;
                text-transform: capitalize;
            }
        }
    }
    .toggle_menu_btn {
        position: absolute;
        right: -35px;
        top: 80px;
        background-color: $base-color;
        color: $gray-color;
        width: 100px;
        text-align: right;
        padding: 5px 8px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        display: none;
        @media only screen and (max-width: $sm) {
            display: block;
        }
    }
}