@import '../sass/variables';

.subbtn {
    display: block;
    height: 40px;
    background-color: $base-color;
    color: #fff;
    width: 60%;
    margin: 20px auto;
    border-radius: 50px;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}