@import "../sass/variables";

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    h3 {
        color: $base-color;
        text-transform: capitalize;
    }
    p{
        color: $yel-color;
        cursor: pointer;
    }
}