@import '../sass/variables';


.valid-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    font-size: 24px;
    font-weight: 200;
    margin: 10px 0px;
    span {
        color: $yel-color;
        font-size: 18px;
        padding: 10px;
        i {
            padding-top: 8px;
        }
        &.invalid{
            color: $purp-color;  
            font-size: 20px; 
        }
    }
}