@import '../../Components/sass/variables';

.show_product{
    margin-top: 60px;
    .container {
        .wrapper{
            display: flex;
            justify-content: center;
            @media only screen and(max-width: $md) {
                flex-wrap: wrap;
            }
        }
    }
}