@import '../sass/variables';


.header{
    margin: 40px 0px;
    @media only screen and (max-width: 600px) {
        margin: 10px 0px;
    }
    .container{
        .swiper-container {
            height: 400px;
            border-radius: 15px;
            position: relative;
            @media only screen and (max-width: 600px) {
                height:135px;
            }
            .swiper-pagination {
                position: absolute;
                top: 15px;
                left: 98%;
                bottom: 0;
                width: 20px;
                @media only screen and (max-width: 600px) {
                    left: 96%;
                    top: 5px;
                }
                .swiper-pagination-bullet {
                    display: block;
                    background-color: #2D2D2D;
                    opacity: 1;
                    width: 10px;
                    height: 10px;
                    margin: 8px 0px;
                    &.swiper-pagination-bullet-active{
                        background-color: #fff;
                    }
                    @media only screen and (max-width: 600px) {
                        width: 7px ;
                        height: 7px;
                        margin: 4px 0px;
                    }
                }
            } 
            .swiper-wrapper {
                .swiper-slide {
                    height: 100%;
                    background-image: url('../../images/slider.png');
                    background-size:cover;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    padding-left: 80px;
                    @media only screen and (max-width: 600px) {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}