@import '../sass/variables';

.profile_aside {
    display: block;
    width: 100%;
    height: 100vh;
    background: #000;
    transition: all 0.1s linear;
    .aside_head {
        width: 100%;
        padding: 25px 0;
        padding-left: 15px;
        padding-bottom: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        img{ 
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .head_info {
            width: 70%;
            padding-left: 10px;
            h1 {
                display: block;
                font-size: 18px;
                color: #fff;
                text-transform: capitalize;
                font-weight: 500;
                margin: 0;
            }
            .jop-title {
                color: #8c8c8c;
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                text-transform: capitalize;
            
            }
        }
    }
    .aside_navs {
        margin-top: 25px;
        .navs{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            padding: 10px 0px;
            color: #fff !important;
            font-size: 20px;
            a {
                width: 100%;
                color: #fff;
                text-decoration: none;
                padding: 0;
                text-transform: capitalize;
                font-weight: 300;
                font-size: 17px;
                span {
                    padding: 15px;
                    color: $gray-color;
                }
                
            }
            &:last-of-type {
                a{
                    color: rgb(252, 21, 21) ;
                    span {
                        color: rgb(252, 21, 21) ;
                    }
                }
            }
        }
    }
    .toggle_menu_btn {
        position: absolute;
        right: -35px;
        top: 80px;
        background-color: $base-color;
        color: $gray-color;
        width: 100px;
        text-align: right;
        padding: 5px 8px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        display: none;
    }
}