@import '../sass/variables';
.products_aside{
    width: 85%;
    @media only screen and (max-width: $sm) {
        width: 100%;
    }
    .products_wrapper {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        margin-top: 40px;
        @media only screen and (max-width: $sm) {
            justify-content: center;
            align-items: center;
        }
    }
}